{% extends "layout-modal.html" %}

{% load i18n %}

{% block header %}
{{ object.title }}
{% endblock %}

{% block body %}

<section class="intro">
  {{ object.text|default:""|safe }}
</section>

<section class="details">
  <dl>
    <dt>{% trans "Start" %}</dt>
    <dd>
      {% if view.has_start_time %}
      {{ view.start|date:"DATETIME_FORMAT" }}
      {% else %}
      {{ view.start|date:"DATE_FORMAT" }}
      {% endif %}
    </dd>
    {% if object.has_end %}
    <dt>{% trans "End" %}</dt>
    <dd>
      {% if view.has_end_time %}
      {{ view.end|date:"DATETIME_FORMAT" }}
      {% else %}
      {{ view.end|date:"DATE_FORMAT" }}
      {% endif %}
    </dd>
    {% endif %}
  </dl>
</section>

{% endblock %}
