{% load i18n %}

<h3>{{ form.labels.header }}</h3>

<form method="POST" action="{{ action }}">

  {% if form.errors %}
  <div class="alert alert-error">
    <strong>Het formulier bevat de volgende fouten:</strong>
    <ul class="basic-list">
      
      {% for field in form %}
      {% if field.errors %}
      <li><strong>{{ field.label }}</strong>: {{ field.errors }}</li>
      {% endif %}
      {% endfor %}      
    </ul>
  </div>
  {% endif %}

  <label for="id_title">{{ form.title.label }}</label>
  {{ form.title }}

  <section>
    <label>Van</label>
    {{ form.start_date }}  {{ form.start_time }}

    <label>Tot</label>
    {{ form.end_date }} {{ form.end_time }}    

    <label class="checkbox">
      <input type="checkbox" name="djinn_events_full_day">
      {% trans "Full day" %}
    </label>
  </section>

  <label for="id_location">{{ form.location.label }}</label>
  {{ form.location }}

  <label for="id_text">{{ form.text.label }}</label>
  {{ form.text }}

  <label for="id_link">{{ form.link.label }}</label>
  {{ form.link }}

  <div class="btn-group controls">
    <button type="submit" class="btn btn-primary">
      {{ form.labels.submit|default:'Opslaan' }}
    </button>
    <button type="cancel" class="btn cancel">
      {{ form.labels.cancel|default:'Annuleren' }}
    </button>
  </div>
</form> 
