{% load i18n humanize djinn_contenttypes auth_tags %}


<li class="event editable">
  <a data-target="#MyModal"
     href="{% url djinn_events_view_event event.id event.slug %}?modal=1"
     data-toggle="modal">
    {{ event.title|abbreviate:"50" }}
  </a>
      
  <time>
    {% if event.start_time %}
    {{ event.start|date:"DATETIME_FORMAT" }}
    {% else %}
    {{ event.start|date:"DATE_FORMAT" }}
    {% endif %}
    
    {% if event.end_date %}
    -
    {% if object.start_date != object.end_date %}
    {{ object.end|date:"DATETIME_FORMAT" }}
    {% elif object.end_time %}
    {{ object.end|date:"TIME_FORMAT" }}      
    {% endif %}
    {% endif %}
  </time>
      
  <div class="location">{{ event.location }}</div>
      
  <p>{{ event.text|safe|abbreviate:"100" }}</p>

  {% ifpermission object request.user contenttypes.change_contenttype %}
  <span class="controls">
    <a data-toggle="tooltip"
       title="{% trans 'Edit event' %}"
       href="{%  url djinn_events_edit_event object.id %}">
      <i class="icon-pencil"></i>
    </a>
    <a data-toggle="tooltip"
       class="rm-inline"
       title="{% trans 'Delete event' %}"
       href="{%  url djinn_events_delete_event object.id %}">
      <i class="icon-remove"></i>
    </a>
  </span>
  {% endifpermission %}

</li>
