{% load i18n djinn_contenttypes %}

<section class="details">
  <dl>
    <dt>{% trans "Start" %}</dt>
    <dd>
      {% if object.start_time %}
      {{ object.start|date:"DATETIME_FORMAT" }}
      {% else %}
      {{ object.start|date:"DATE_FORMAT" }}
      {% endif %}
    </dd>
    {% if object.has_end %}
    <dt>{% trans "End" %}</dt>
    <dd>
      {% if object.start_date != object.end_date %}
      {{ object.end|date:"DATETIME_FORMAT" }}
      {% elif object.end_time %}
      {{ object.end|date:"TIME_FORMAT" }}      
      {% endif %}
    </dd>
    {% endif %}
    <dt>Link</dt>
    <dd>
      <a href="{{ view.link }}">{{ view.link_title|abbreviate:"50" }}</a>
    </dd>
  </dl>
</section>
