{% load i18n djinn_contenttypes humanize %}

<section class="details">

  <dl>
    <dt>{% trans "Start" %}</dt>
    <dd>
      {% if object.start_time %}
      {{ object.start|date:"DATETIME_FORMAT" }}
      {% else %}
      {{ object.start|date:"DATE_FORMAT" }}
      {% endif %}
    </dd>

    {% if object.has_end %}
    <dt>{% trans "End" %}</dt>
    <dd>
      {% if object.end_time %}
      {{ object.end|date:"DATETIME_FORMAT" }}
      {% else %}
      {{ object.end|date:"DATE_FORMAT" }}
      {% endif %}
    </dd>
    {% endif %}

    {% if object.location %}
    <dt>{% trans "Location" %}</dt>
    <dd>
      {{ object.location }}
    </dd>
    {% endif %}    

    {% if object.link %}
    <dt>{% trans "Link" %}</dt>
    <dd>
      <a href="{{ view.link }}" target="{{ view.link_target }}">
        {{ view.link_title|abbreviate:"50" }}
      </a>
    </dd>
    {% endif %}

  </dl>
</section>
