{% extends "djinn_contenttypes/base_edit.html" %}

{% load contentblock_tags %}
{% load contentaction_tags %}
{% load pgprofile_tags %}
{% load auth_tags %}
{% load form_tags %}
{% load i18n %}


{% block left-pane %}

<header>
  <h1>
  {% if object %}
  {% trans "Edit event" %}
  {% else %}
  {% trans "New event" %}
  {% endif %}
  </h1>
</header>

{% if object %}
{% contentitem_stats object %}
{% endif %}

<label for="id_title">{{ form.title.label }}</label>
{{ form.title }}

<section>
  <label>Van</label>
  {{ form.start_date }}  {{ form.start_time }}
  
  <label>Tot</label>
  {{ form.end_date }} {{ form.end_time }}    
  
  <label class="checkbox">
    <input type="checkbox" name="djinn_events_full_day">
    {% trans "Full day" %}
  </label>
</section>

<label for="id_location">{{ form.location.label }}</label>
{{ form.location }}

<label for="id_text">{{ form.text.label }}</label>
{{ form.text }}

<label for="id_link">{{ form.link.label }}</label>
{{ form.link }}


<div class="btn-group form-controls">
  {% submit_button 'Opslaan' %}
  <a class="btn" href="/">{% trans "Cancel" %}</a>
  {% if object %}
  {% ifpermission object request.user contenttypes.delete_contenttype %}
  {% delete_content object 'Verwijder dit event' %}
  {% endifpermission %}
  {% endif %}
</div>

{% endblock %}
