{% extends "djinn_contenttypes/base_add.html" %}

{% load i18n %}

{% block formfields %}

<label for="id_title">{{ form.title.label }}</label>
{{ form.title }}

<fieldset>
  <label>{% trans "Start" %}</label>
  {{ form.start_date }}  {{ form.start_time }}
  
  <label>{% trans "End" %}</label>
  {{ form.end_date }} {{ form.end_time }}    
  
  <label class="checkbox">
    <input type="checkbox" name="djinn_events_full_day">
    {% trans "Full day" %}
  </label>
</fieldset>

<label for="id_location">{{ form.location.label }}</label>
{{ form.location }}

<label for="id_text">{{ form.text.label }}</label>
{{ form.text }}

<label for="id_link">{{ form.link.label }}</label>
{{ form.link }}

{% endblock %}
