{% extends "djinn_contenttypes/base_edit.html" %}

{% load i18n bootstrap %}

{% block formfields %}

{{ form.title|bootstrap }}

<fieldset>
  <label>{% trans "Start" %}</label>
  {{ form.start_date }}  {{ form.start_time }}
  
  <label>{% trans "End" %}</label>
  {{ form.end_date }} {{ form.end_time }}    
  
  <label class="checkbox">
    <input type="checkbox" name="djinn_events_full_day">
    {% trans "Full day" %}
  </label>
</fieldset>

{{ form.location|bootstrap }}

{{ form.text|bootstrap }}

{{ form.link|bootstrap }}

{% endblock %}
