{% extends "pgcontent/base_view.html" %}

{% load auth_tags %}
{% load contentaction_tags %}

{% block content %}

<section class="intro">
  {{ object.text|default:""|safe }}
</section>

<section class="details">
  <dl>
    <dt>Start datum</dt><dd>{{ object.start_date }}</dd>
    {% if object.end_date %}
    <dt>(Verwachtte) einddatum</dt><dd>{{ object.end_date }}</dd>
    {% endif %}
    <dt>Status</dt><dd>{{ object.formatted_status }}</dd>
  </dl>
</section>

{% if object.updates.all.exists %}  
<section id="updates">
  <header>
    <h2>Updates
      {% ifpermission object request.user contenttypes.change_contenttype %}
      <span class="controls">
        <a class="add-inline" href="{% url djinn_announcements_add_announcementupdate_json object.id %}" target="#update_list">
          <i class="icon-plus"></i>
        </a>
      </span>
      {% endifpermission %}
    </h2>
  </header>

  <span id="update_list">
    {% include "djinn_announcements/snippets/updates.html" %}
  </span>

</section>
{% endif %}  

{% endblock %}

{% block right-pane %}

<div class="action-bar">
  {% ifpermission object request.user contenttypes.change_contenttype %}
  {% edit_content object 'Bewerken' '' %}
  {% endifpermission %}
</div>

{% endblock %}
